**.png
**.tiff
**.tif
*.Rproj
*.Rhistory
maps/gadm/
maps/maps/
**.kml
bioclim/fclim26/
bioclim/fclim85/
**.html
**.pdf
**.xlsx
**.doc
**.docx
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
data/LandGen-Sockeye-Ext-Data.csv
